
*{

    box-sizing: border-box;
}
/* Slider css */
section.section {
    background: transparent;
    width: 100%;
    height:100%;
  }
  .columns{
      width:100%;
      height: 100%;
      margin:0%;
  }
  .column-is-10-is-offset-1
  {
      width: 100%;
      height:100%;
  }
  .slideshow {
    box-shadow: 0px 0px 40px rgba(0,0,0,.3);
  }
    .slide img {
      max-width: 100%;
      width: 100%;
    }
    
    .slick-prev:before, .slick-next:before {
      color: black;
    }
    .slick-dots li button:before {
        font-family: 'slick';
        font-size: 11px;
        line-height: 20px;
        position: absolute;
        top: 45%;
        left: 147%;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        color: black;
        text-align: center;
        opacity: 1;
        background-color: white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .slick-prev:before {
        content: ''; 
}
.slick-next:before {
    content: '';
}
/* slider css end */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: inherit;  
    border: none;
    outline: none;
    color:inherit;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:white;
    color:#68d4e2;
    border-top: 6px solid #68d4e2;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom: 6px solid #68d4e2;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
   border-bottom: 1px solid #dfe1e5

  }
  
  .dropdown-content a:hover {
    background-color: white;
    color:#68d4e2;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
#Download{
    background-color:#e8fcfe;
    display:flex;
    justify-content: space-between;
    padding:3%;
}
#Menu{
    background-color: #e8ebf1;
}
#Footer{
    background-color: #e8ebf1;
}
#Clients
{
    background-color: #ffffff; 
}
.d1
{
    height: 100%;
    width:19%;
}
.d{
    height: 100%;
    width:100%;
}
.button
{
    width:300px;
    padding:12px;
    height: 65px;
    border: 1px solid #000000;
    font-family: arial;
    font-weight: bold;
    text-transform:uppercase;
    color: #fff;
    font-size:16px;
    text-align: right;
    border-radius:4px;
    display: flex;
    align-items: center;
    background:#68d4e2;
    justify-content: space-between;
}
.imgbox{
   width:22%;
   max-height: 156.2px;
}
.logobox
{
    width:33.3%;
}
.imglogo{
    display:flex;
    flex-wrap: wrap;
    padding-top:4%;
    justify-content: space-between;
}
.img{
    display:flex;
    flex-wrap: wrap;
    padding-top:4%;
    justify-content: flex-end;
}
.imgbox img{
    width:100%;
}
.testimonialheading{
    width:50%;
    /* padding:0 0 0 10px; */
}
.testimgbox{
    display:flex;
    flex-wrap:wrap;
}
.s2s
{
    display:flex;
}
.logoname
{
    display:flex;
    /* justify-content: space-between; */
    align-items: center;
    text-transform: uppercase;
    width:100%;
}
.logotitle
{
    font-weight: 600;
    font-display: Montreal;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #81e4ed;
}
#testtext{
    max-width:50;
}
.test{
    max-height: 156.02px;
}
.LatestWorkscontainer
{
    border-style: solid;
    border-width: 1px 0;;
    border-color: #dfe1e5;
}
.testimonialblock
{
    padding-right: 2%;
}
.upper{
    display:flex;
    justify-content: space-between;
    padding-top:8%;
    width:100%;
}
.white{
    color:white;
}
 .blue
{
    color:#81e4ed;
}
.logow div
{
    width:40px;
    height: 40px;
    display:flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
}
.logo div
{
    width:40px;
    height: 40px;
    display:flex;
    background-color: #81e4ed;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
}
.box-1{
padding-right:2%
}
.box-2{
    padding-right:2%
    }
    .box-3{
        padding-right:2%
        }
.cbox{
    /* padding-right:1%; */
    max-width: 19%;
}
.logotextc{
    /* padding-right:1%; */
    display: flex;
    flex-wrap:wrap;
}
/* .cbox-1{
    padding-right:1%;
    max-width: 19%;
}
.cbox-2{
    padding-right:1%;
    max-width: 19%;
}
.cbox-3{
    max-width: 19%;
    padding-right:1%;
}
.cbox-5{
    max-width: 19%;
} */
.latestworksheading{
    width:22%;
    /* padding:0 0 0 10px; */
}
.header-containerlatest{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2%;
}
.header-container{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:2%;
}
/* #menu-container{
    display:flex;
    width:100%;
    height: 100%;
    justify-content: space-between;
    padding:10px;
} */
#Header{
    background-color: #e8ebf1;
    align-items: center;
    /* padding: 20px 10px; */
}
.arrow{
    margin:0 6% 0 0;
}
.lf
{
    color:#81e4ed;
}
.direction{
    width:20%;
    display:flex;
    justify-content: flex-end;
}
.l{
  padding-left:7%;
}
#Slider{
    background-color: #81e4ed;
/* padding: 20px 10px; */
}
.Wrapper
{
    height:100%;
    margin: 0 auto;
    padding:0 10%;
  
}
nav ul{
    list-style-type:none;
    padding:0;
    display:flex;
    align-items: center;

}
ul{
    list-style-type:none;
    padding:0;
}
nav a{
    display:block;
    text-decoration: none;
    text-align:center;
    padding:10px;
    color:black;
}
nav a:hover{
    background-color:#ffffff;
    color: #63c2d7;
}
#Header img{
    height: 40px;
    width : auto; 
    margin-top:1%;
}
#Copyright img{
    height: 40px;
    width : auto;
    padding-top: 5%; 
}
/* #Slider img{

    width: 100%;
} */
html, body {
    margin: 0;
    padding: 0;
  }