.hidden {
  display:none;
  }
  .visible {
  display:block;
  top:0;
  left:0;
  margin: 15% auto; /* 15% from the top and centered */
  }
  .loader-visible{
    display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  
  }
input[type=text], select, textarea {
  width: 90%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 16px; /* Add a top margin */
  /* margin-bottom: 16px; Bottom margin */
  resize: vertical ;/* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: #3c5499;
  color:white;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:white;
  /* opacity: 1; Firefox */
}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box{
  width:50%;
}
/* .message{
    font-size: 14px;
    height: 14px;
    color: red;
    width:100%;
} */
.wrapper{
    background-color: #3c5499;
    height: 100%;
    
}
.yo{
  color: white;
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
  width: 12%;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top:2%;
}
/* .message{
    color:red;
} */
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}
.header-container {
  /* padding-top: 25%; */
  height: 100%;
  display:flex;
  align-items: center;
}
/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: inherit;
  padding: 20px;
  width:100%
 
}
.line{
    display: flex;
    justify-content: space-between;
}
html,body{
  height: 100%;
  margin: 0%;
  padding:0%;
}
/*Modal css start*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 0%;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  background-color: #4385f7;
  border-radius:10px;
  color: white;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 26px;
  font-weight: bold;
  padding-right: 3%;
  padding-top:2%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*Modal Css End*/